####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################
  
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
#forceUpdate.failBuildOnPolicyViolation=true
offline=true
offline.prettyJson=true 
#offline.zip=false
#dependenciesOnly=true
#sendLogsToWss=false
log.level=debug
#scanComment=臺語"adasd///mama\\\baba

#failErrorLevel=ALL
#npm.ignoreNpmLsErrors=true
#npm.runPreStep=true

projectPerFolder=false
#projectPerFolderIncludes= 
#projectPerFolderExcludes= 

resolveAllDependencies=false
   
#wss.connectionTimeoutMinutes=60
# Change the below URL to your WhiteSource server.
# Use the 'WhiteSource Server URL' which can be retrieved
# from your 'Profile' page on the 'Server URLs' panel.
# Then, add the '/agent' path to it.
wss.url=https://saas.whitesourcesoftware.com/agent
 
#hex.resolveDependencies=false
#npm.ignoreJavaScriptFiles=true
npm.resolveDependencies=true
#npm.includeDevDependencies=true
#npm.runPreStep=true
#npm.ignoreNpmLsErrors=true
#npm.ignoreScripts=true
#npm.yarnProject=true
#npm.IgnoreSourceFiles=false
#npm.accessToken
#bower.resolveDependencies=false
#bower.runPreStep=true

#nuget.resolveDependencies=true
#nuget.restoreDependencies=true
#nuget.resolveCsProjFiles=true

#python.resolveDependencies=true
#python.ignorePipInstallErrors=true
#python.indexUrl=aaad
#python.installVirtualenv=true
#python.resolveHierarchyTree=true
#python.requirementsFileIncludes = MotherOfGod.txt
#python.resolveSetupPyFiles=true
#python.IgnorePipenvInstallErrors=true
#python.runPipenvPreStep=true
#python.pipenvDevDependencies=true

#maven.settingsXmlPath = C:/Users/PhilipAbed/.m2/settings.xml
#maven.ignoredScopes=test provided compile runtime
maven.resolveDependencies=true
#maven.aggregateModules=true
#maven.ignorePomModules=true
#maven.ignoreSourceFiles=false 
maven.runPreStep=true
#maven.ignoreMvnTreeErrors = true
#maven.environmentPath=
#maven.m2RepositoryPath=C:/Users/PhilipAbed/.m2/repository
#ignoreSourceFiles=true
#gradle.resolveDependencies = true
gradle.excludeModules = backend common datacollector-project demo-backend
#gradle.runAssembleCommand = true
#gradle.aggregateModules =true
#gradle.ignoredScopes=compile default runtime
#paket.resolveDependencies=false
#paket.ignoredGroups=
#paket.ignoreFiles=false
#paket.runPreStep=true
#paket.exePath=
 
#go.resolveDependencies=true
#go.collectDependenciesAtRuntime=true
#go.dependencyManager=vndr
#go.detailedHierarchy=true
#ruby.resolveDependencies = true
#ruby.runBundleInstall = true
#ruby.overwriteGemFile = true
#ruby.installMissingGems = true
#addsha1=true
#sbt.resolveDependencies=true
#sbt.aggregateModules=true
#sbt.runPreStep=true
#sbt.targetFolder=C:/Users/PhilipAbed/Downloads/test/GeorgeProjects/SBT_sbt-pgp-master/fliguer,C:/Users/PhilipAbed/Downloads/test/GeorgeProjects/SBT_sbt-pgp-master/pgp-plugin/philips,C:/Users/PhilipAbed/Downloads/test/GeorgeProjects/SBT_sbt-pgp-master/gpg-library/DavidsLib

#html.resolveDependencies=true
 
##################################
# Organization tokens:
##################################

projectName=test
projectVersion=1.0.0
#projectToken=

productName=circleci
productVersion=1.0.0
#productToken=
#updateType=APPEND
#requesterEmail=user@provider.com
    
#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.jar
#includes=**/*.cs, **/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx 
#includes=**/*.m **/*.mm  **/*.js **/*.php
#includes=**/*.jar **/*.js **/*.tgz **/*.java **/*.sbt **/*.scala
#includes=**/*.aar **/*.dll **/*.rpm **/*.tar.bz2 **/*.deb **/*.gzip **/*.swf **/*.swc **/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.go **/*.goc **/*.h **/*.hpp **/*.hxx **/*.m **/*.mm **/*.c# **/*.nupkg **/*.cs **/*.csharp **/*.java **/*.js **/*.php **/*.py **/*.rb **/*.swift **/*.jar **/*.war **/*.ear **/*.sca **/*.gem **/*.whl **/*.egg **/*.tar **/*.tar.gz **/*.tgz **/*.zip **/*.rar **/*.tar.xz
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.nupkg
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py
   
## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
#excludes=**/*sources.jar **/*javadoc.jar
#maven.ignoreSourceFiles=true
case.sensitive.glob=false
followSymbolicLinks=false
    

    
##################################
# Proxy settings
##################################
#proxy.host=
#proxy.port=
#proxy.user=
#proxy.pass=
    
##################################
# SCM settings
##################################
#scm.type=git
#scm.user=StinkyLord123
#scm.pass=f00k3rfuck
#scm.ppk=
#scm.url=https://github.com/whitesource/agents.git
#scm.branch=master
#scm.tag=
   
##############################################
# SCAN MODE: Linux package manager settings
##############################################
#scanPackageManager=true
  ##################################
# Archive Properties
##################################
#archiveExtractionDepth=7
#archiveIncludes = **/*jar,**/*.war **/*.ear **/*.zip **/*.tar **/*.tar.gz
#archiveExcludes=**/*sources.jar
##################################
# SCAN MODE: Docker images
##################################
#docker.scanImages=false
#docker.includes=jboss/keycloak
#docker.scanImages=true
#docker.excludes=jboss/keycloak
#docker.pull.enable=false
#docker.pull.images=.*.*
#docker.pull.tags=.*.*
#docker.pull.digest=.*.*
#docker.pull.maxImages=50
#docker.login.sudo=true
#docker.delete.force=false
#docker.aws.enable=true
#docker.aws.registryIds=472613559203
